/* 
Website: My programming site v.1
Author: Tanvi Acharya
*/
body {
	background: #f5eff5;
}
h1 {
	color: #000000;
	font-family: helvetica;
	text-align: center;
}
h1:hover{
	color:magenta;
}

p {
	font-family: georgia;
	color: #750f75
}
p:first-letter{
	font-size: 28px;
	font-weight:bold;
}
p:first-line {
	color: #f5eff5;
}
hr{
	border-color: #000000
}
#content {
	
	border-color: #090609;
	border-style: solid;
	background-color: #be97be;
	
}